#sidepanel {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: -251px;
  width: 225px;
  padding-right: 25px;
  background-color: var(--col-bg-0);
  transition: 0.5s;
  border-right: 1px solid var(--col-fg-0);
}

#qr-code {
  margin: 0px 25px;
}

#sidepanel > ul {
  list-style: none;
  padding-left: 8px;
}

#sidepanel.active {
  left: 0px;
}

.nav-link {
  padding: 8px 8px 8px 16px;
  text-decoration: none;
  font-size: 16px;
  color: var(--col-fg-0);
  display: block;
  transition: 0.3s;
}

.nav-link:hover {
  color: var(--col-1);
  transition: 0.3s;
}
