h2 {
    background-color: #AAA;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.btn-shuffle,
.btn-dish-add,
.btn-item-add,

.btn-dish-0, .btn-dish-1,
.btn-dish-rm-0, .btn-dish-rm-1,

.btn-ingr-0, .btn-ingr-1,
.btn-item-0, .btn-item-1,
.btn-item-rm-0, .btn-item-rm-1 {
    background-color: #666;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    float: left;
}

.btn-shuffle, .btn-dish-add, .btn-item-add {
    width: 33.33%;
    text-align: center;
    font-size: 20px;
}

.btn-dish-1, .btn-ingr-1, .btn-item-1, .btn-dish-add {
    background-color: #888;
}

.btn-dish-0:hover, .btn-dish-1:hover,
.btn-dish-rm-0:hover, .btn-dish-rm-1:hover,
.btn-ingr-0:hover, .btn-ingr-1:hover,
.btn-item-0:hover, .btn-item-1:hover,
.btn-item-rm-0:hover, .btn-item-rm-1:hover {
    background-color: #555;
}

.btn-dish-0, .btn-dish-1,
.btn-item-0, .btn-item-1 {
    width: 90%;
}

.btn-dish-rm-0, .btn-dish-rm-1,
.btn-item-rm-0, .btn-item-rm-1 {
    background-color: #888;
    width: 10%;
}

.btn-dish-rm-1, .btn-item-rm-1 {
    background-color: #666;
}

.div-dish-instr {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.btn-ingr-0.active, .btn-item-0.active {
    background-color: #080;
}

.btn-ingr-1.active, .btn-item-1.active {
    background-color: #2a2;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    overflow: auto;
    top: 20;
    width: 80%;
    height: calc(100%-2*20);
}

#modal-dishes-content .btn-dish-0,
#modal-dishes-content .btn-dish-1 {
    width: stretch;
}
