h2 {
    background-color: #AAA;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.btn-shuffle,
.btn-dish-add,
.btn-item-add,

.btn-dish-0, .btn-dish-1,
.btn-dish-rm-0, .btn-dish-rm-1,

.btn-ingr-0, .btn-ingr-1,
.btn-item-0, .btn-item-1
.btn-item-rm-0, .btn-item-rm-1 {
    background-color: #666;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.btn-shuffle, .btn-dish-add, .btn-item-add {
    width: 33.33%;
    text-align: center;
    float: left;
    font-size: 20px;
}

.btn-dish-1, .btn-ingr-1, .btn-item-1, .btn-dish-add {
    background-color: #888;
}

/*.btn-dish-0.active, .btn-dish-1.active,*/
.btn-dish-0:hover, .btn-dish-1:hover,
.btn-ingr-0:hover, .btn-ingr-1:hover,
.btn-item-0:hover, .btn-item-1:hover {
    background-color: #555;
}

.btn-dish-0, .btn-dish-1,
.btn-item-0, .btn-item-1 {
    width: 90%;
    float: left;
}

.btn-dish-rm-0, .btn-dish-rm-1,
.btn-item-rm-0, .btn-item-rm-1 {
    background-color: yellow;
    width: 10%;
    float: left;
}

.div-dish-instr {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}

.btn-ingr-0.active, .btn-item-0.active {
    background-color: #080;
}

.btn-ingr-1.active, .btn-item-1.active {
    background-color: #2a2;
}
