body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
}

body>img {
    width: auto;
    height: 200px;
}

body>img.active {
    filter: drop-shadow(0 0 1rem purple);
    /* drop-shadow(0 0 0.5rem yellow), */
    /* drop-shadow(0 0 1.5rem black); */
}