div#runes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5vw;
    position: absolute;
    bottom: 8px;
    max-height: 90vh;
}

div#runes>img {
    animation: glow 0.25s linear;
    width: calc((100vw - 5 * 5vw + 2 * 8px) / 5);
    height: auto;
    max-height: calc((90vh - 3 * 5vh) / 3);
    user-select: none;
    cursor: pointer;
}

@keyframes glow {
    from {
        filter: drop-shadow(0 0 2rem purple);
    }

    to {
        filter: drop-shadow(0 0 0rem purple);
    }
}