body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    gap: 30px;
}

body>img {
    width: auto;
    height: 100px;
}

body>img.active {
    filter: drop-shadow(0 0 1rem purple);
    /* drop-shadow(0 0 0.5rem yellow), */
    /* drop-shadow(0 0 1.5rem black); */
}