@theme {
  --animate-modal-de-blur: modal-de-blur 0.5s ease-in-out;
  --animate-spinner-zooming: spinner-zooming 0.5s ease-in-out;

  @keyframes modal-de-blur {
    100% {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0px);
    }
  }

  @keyframes spinner-zooming {
    100% {
      transform: scale(10);
    }
  }
}
