div#runes {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5vmin;
    position: absolute;
    bottom: 8px;
    max-height: 90vmin;
}

div#runes>img {
    animation: glow 0.25s linear;
    user-select: none;
    cursor: pointer;

    width: calc((100vw - 5 * 5vmin + 2 * 8px) / 5);
    max-width: calc((90vmin - 5 * 5vmin + 2 * 8px) / 5);
    height: auto;
}


@keyframes glow {
    from {
        filter: drop-shadow(0 0 2rem purple);
    }

    to {
        filter: drop-shadow(0 0 0rem purple);
    }
}