#view-content.cv {
  display: flex;
  flex-wrap: wrap;
}

#cv-page {
  width: 210mm;
  border: 1px solid var(--col-fg-0);
  margin: 16px;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent calc(297mm - 1px),
    var(--col-fg-0) calc(297mm - 1px),
    var(--col-fg-0) 297mm
  );
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cv {
  margin: 10mm;

  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  line-height: 1.2;
}

#cv-footer {
  display: none;
}

#cv .hidden {
  display: none;
}

#cv-controls {
  margin: 16px;
  padding: 0 16px;
  max-height: fit-content;
  max-width: calc(210mm - 2 * 16px);
}

@media print {
  .no-print {
    display: none !important;
  }

  #cv-page {
    height: 297mm;
    margin: 0px;
  }

  #cv {
    margin-bottom: 2mm;
  }

  #cv-footer {
    display: block;
  }

  @page {
    size: A4;
    margin: 0;
  }

  #view-content.cv {
    overflow: hidden !important;
  }
}

#cv-personal-container {
  display: "flex";
  flex-direction: "column";
  padding: 0px 16px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.cv-edu-work-container {
  padding: 0 16px;
}

ul.cv-languages,
ul.cv-personal-data {
  list-style: none;
  padding-left: 0;
}

ul.cv-languages > li,
ul.cv-personal-data > li {
  margin-top: 4px;
  position: relative;
  padding-left: 30px;
}

ul.cv-languages > li::before,
ul.cv-personal-data > li::before {
  content: attr(data-icon);
  position: absolute;
  left: 0;
}

#cv-skills,
ul.cv-hobbies,
ul.cv-details,
ul.cv-detail-highlights {
  padding-left: 20px;
}

ul.cv-details > li {
  margin-top: 12px;
}

#cv-skills > li::marker,
ul.cv-detail-highlights > li::marker {
  content: "✓  ";
}

#cv-upload,
#cv-download {
  display: none;
}

#cv-img-container {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 2px solid var(--col-fg-0);
  display: inline-block;
  margin: 16px 0px;
}

#cv-img-container > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#cv-lastname {
  color: var(--col-fg-2);
}

.cv-tip:hover {
  background-color: var(--col-bg-alt-b);
}

#cv-intro {
  text-align: justify;
}

h3.cv {
  text-transform: uppercase;
}
