#view-content.cv {
  display: flex;
  flex-wrap: wrap;
}

#cv {
  margin: 16px;
  --width: calc(210mm - 2 * 16px);
  width: var(--width);
  min-width: var(--width);
  height: calc(297mm - 2 * 16px);
  overflow: hidden;

  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 12pt;
  line-height: 1.2;
  background: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent calc(297mm - 1px),
    var(--col-fg-0) calc(297mm - 1px),
    var(--col-fg-0) 297mm
  );
}

#cv .hidden {
  display: none;
}

ul.cv-languages,
ul.cv-personal-data {
  list-style: none;
  padding-left: 0;
}

ul.cv-languages > li,
ul.cv-personal-data > li {
  margin-top: 4px;
  position: relative;
  padding-left: 30px;
}

ul.cv-languages > li::before,
ul.cv-personal-data > li::before {
  content: attr(data-icon);
  position: absolute;
  left: 0;
}

ul.cv-details,
ul.cv-detail-highlights {
  padding-left: 20px;
}

ul.cv-details > li {
  margin-top: 12px;
}

ul.cv-detail-highlights > li::marker {
  content: "✓  ";
}

#cv-upload,
#cv-download {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  #cv {
    margin: 0px !important;
    /* transform: scale(0.85); */
  }

  #view-content.cv {
    overflow: hidden !important;
  }
}

div.cv-personal-container {
  display: "flex";
  flex-direction: "column";
  padding: 0px 16px;
  /* max-width: 40%; */
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.cv-edu-work-container {
  padding: 0 16px;
}

img.cv-profile-pic {
  width: 3cm;
  max-width: 3cm;
  max-height: 5cm;
  margin: 16px 0;
}

span.cv-lastname {
  color: var(--col-fg-2);
}

.cv-tip:hover {
  background-color: var(--col-bg-alt-b);
}
