#cv-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#cv {
  margin: 16px;
  width: 210mm;
  min-width: 210mm;
  height: 297mm;
  display: flex;
  font-family: "Times New Roman", Times, serif;
  font-size: 10pt;
  line-height: 1.2;
}

ul.cv-languages,
ul.cv-personal-data {
  list-style: none;
  padding-left: 0;
}

ul.cv-languages > li,
ul.cv-personal-data > li {
  margin-top: 4px;
  position: relative;
  padding-left: 30px;
}

li.cv-detail,
li.cv-detail-highlights {
  margin-top: 4px;
}

ul.cv-languages > li::before,
ul.cv-personal-data > li::before {
  content: attr(data-icon);
  position: absolute;
  left: 0;
}

#cv-file-upload {
  display: none;
}

@media print {
  .no-print {
    display: none !important;
  }

  #cv {
    margin: 0px !important;
    overflow: hidden;
  }

  #main.cv {
    overflow: visible;
    border-radius: 0px !important;
  }
}

div.cv-personal-container {
  display: "flex";
  flex-direction: "column";
  padding: 0px 16px;
  /* max-width: 40%; */
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.cv-edu-work-container {
  padding: 0 16px;
}

img.cv-profile-pic {
  width: 3cm;
  max-width: 3cm;
  max-height: 5cm;
  margin: 16px 0;
}

span.cv-lastname {
  color: var(--col-fg-2);
}

.cv-tip:hover {
  background-color: var(--col-bg-alt-b);
}
