nav {
  /* list-style-type: none; */
  /* margin: 0;
  padding: 0; */
  overflow: auto;
  background-color: gray;
  /* position: sticky; */
  /* top: 0px;
  z-index: 0; */
}

li.nav-li {
  float: left;
  display: block;
  color: white;
  text-align: center;
  /* padding: 14px 16px; */
  text-decoration: none;
  cursor: pointer;
}

li.nav-li:hover:not(.active) {
  background-color: black;
}

li.nav-li.active {
  background-color: purple;
}
