#luxor-control {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

#luxor-adder {
  flex-grow: 1;
  /* Allow the input to take up the remaining space */
  max-width: 100%;
  /* Ensure it doesn't overflow the viewport */
  min-width: 0;
  /* Prevent width issues in flex containers */
  width: 25px;
  padding: 8px;
}

#luxor-adder::placeholder {
  text-align: center;
}

#luxor-picked-nums-line {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
}

#luxor-num-bug {
  position: fixed;
  z-index: 1;
  font-size: 25px;
  user-select: none;
  animation: animation-move 0.3s infinite;
}

#luxor-num-bug-priv-filter {
  position: fixed;
  z-index: 2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid red;
  cursor: not-allowed;

  transform: translateX(-50%);

  background-color: rgba(0, 0, 0, 0);
  animation: luxor-bug-privacy-filter 1s linear;
}

@keyframes luxor-bug-privacy-filter {
  0% {
    backdrop-filter: blur(4px);
  }

  80% {
    backdrop-filter: blur(4px);
  }

  100% {
    backdrop-filter: blur(0px);
  }
}

:root {
  --animation-move-dir: -90deg;
}

@keyframes animation-move {
  0% {
    transform: rotate(calc(var(--animation-move-dir) + 10deg));
  }

  50% {
    transform: rotate(calc(var(--animation-move-dir) - 10deg));
  }

  100% {
    transform: rotate(calc(var(--animation-move-dir) + 10deg));
  }
}

ul.luxor td.picked {
  background-color: red;
  color: white;
}

td.luxor-num {
  padding: 16px;
}

input.luxor-num {
  width: 40px;
  padding: 4px;
}

ul.luxor {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-evenly;
  margin: 0px;
}

li.luxor {
  margin: 8px;
  padding: 8px;
  text-align: center;
}

li.luxor > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 16px;
}

table.luxor {
  border-collapse: collapse;
  font-size: 25px;
  border-width: 2px;
}

table.luxor > tbody {
  border: 2px solid var(--col-fg-0);
}

table.luxor td {
  padding: 4px;
}
