#luxor-control {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 8px;
}

#luxor-adder {
  min-width: 20px;
}

ul.luxor td.picked {
  background-color: red;
  color: white;
}

td.luxor-num {
  padding: 16px;
}

input.luxor-num {
  width: 40px;
  padding: 8px;
}

ul.luxor {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  justify-content: space-evenly;
}

li.luxor {
  margin: 8px;
  padding: 8px;
  text-align: center;
}

li.luxor > div {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  margin-bottom: 16px;
}

table.luxor {
  border-collapse: collapse;
  font-size: 25px;
}

table.luxor > tbody {
  border: 2px solid var(--col-fg-0);
}

table.luxor td {
  padding: 8px;
}

.luxor-fld-imported {
  text-align: center;
}
