@layer theme, base, components, utilities;

@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);
@import "./components/ArxFatalis/index.css";
@import "./components/CV/index.css";
@import "./components/Luxor/index.css";
@import "./components/Lyrics/index.css";
@import "./components/ShoppingList/index.css";
@import "./components/Spinner/index.css";

@theme {
  --color-fg-0: #111;
  --color-fg-1: #808;
  --color-fg-2: #333;
  --color-bg-0: #eee;
  --color-bg-alt-a: #ddd;
  --color-bg-alt-a-hover: #add;
  --color-bg-alt-a-active: #ada;
  --color-bg-alt-b: #bbb;
  --color-bg-alt-b-hover: #8bb;
  --color-bg-alt-b-active: #8b8;

  --font-cv: "Times New Roman", Times, serif;
}

@layer components {
  .modal-blur {
    @apply fixed top-0 left-0 z-2 w-full h-full;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
  }
}

:root {
  @apply text-fg-0 bg-bg-0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-fg-0: #eee;
    --color-fg-1: #d0d;
    --color-fg-2: #ccc;
    --color-bg-0: #111;
    --color-bg-alt-a: #222;
    --color-bg-alt-a-hover: #255;
    --color-bg-alt-a-active: #252;
    --color-bg-alt-b: #444;
    --color-bg-alt-b-hover: #477;
    --color-bg-alt-b-active: #474;
  }

  @layer components {
    a {
      @apply text-blue-300;

      &:hover {
        @apply text-blue-400;
      }

      &:visited {
        @apply text-purple-300;
      }

      &:active {
        @apply text-orange-300;
      }

      &:focus {
        @apply outline-yellow-300;
      }

      nav & {
        @apply text-inherit;
      }
    }
  }
}

html,
body,
#root {
  @apply m-0 h-full;
}

.clickable {
  @apply select-none cursor-pointer;
}

.non-clickable {
  @apply select-auto cursor-auto;
}

li.alternating {
  @apply bg-bg-alt-a;

  &:hover {
    @apply bg-bg-alt-a-hover;
  }

  &.active {
    @apply bg-bg-alt-a-active;
  }

  &:nth-child(even) {
    @apply bg-bg-alt-b;
  }

  &:nth-child(even):hover {
    @apply bg-bg-alt-b-hover;
  }

  &:nth-child(even).active {
    @apply bg-bg-alt-b-active;
  }
}
