:root {
  --col-fg-0: #111;
  --col-fg-1: #808;
  --col-bg-0: #eee;
  --col-bg-alt-a: #ddd;
  --col-bg-alt-a-hover: #add;
  --col-bg-alt-a-active: #ada;
  --col-bg-alt-b: #bbb;
  --col-bg-alt-b-hover: #8bb;
  --col-bg-alt-b-active: #8b8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --col-fg-0: #eee;
    --col-fg-1: #d0d;
    --col-bg-0: #111;
    --col-bg-alt-a: #222;
    --col-bg-alt-a-hover: #255;
    --col-bg-alt-a-active: #252;
    --col-bg-alt-b: #444;
    --col-bg-alt-b-hover: #477;
    --col-bg-alt-b-active: #474;
  }
}

html,
body {
  margin: 0;
  height: 100%;
}

#main {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--col-bg-0);
  color: var(--col-fg-0);
}

#body {
  flex-grow: 1;
  overflow-y: scroll;
}

.clickable {
  user-select: none;
  cursor: pointer;
}

.non-clickable {
  user-select: initial;
  cursor: initial;
}

.clicking-not-allowed {
  cursor: not-allowed;
}

.padded {
  padding: 16px;
}

.bordered {
  border: 1px solid var(--col-fg-0);
  border-radius: 4px;
}

li.alternating {
  background-color: var(--col-bg-alt-a);
}

li.alternating:hover {
  background-color: var(--col-bg-alt-a-hover);
}

li.alternating.active {
  background-color: var(--col-bg-alt-a-active);
}

li.alternating:nth-child(even) {
  background-color: var(--col-bg-alt-b);
}

li.alternating:nth-child(even):hover {
  background-color: var(--col-bg-alt-b-hover);
}

li.alternating:nth-child(even).active {
  background-color: var(--col-bg-alt-b-active);
}

.border1-n {
  border-top: 1px solid var(--col-fg-0);
}

.border1-w {
  border-left: 1px solid var(--col-fg-0);
}

.border1-e {
  border-right: 1px solid var(--col-fg-0);
}

.border1-s {
  border-bottom: 1px solid var(--col-fg-0);
}